<div class="container pt-5">
  <h2>{{ isEditMode ? 'Edit Mentor': 'Add Mentor' }}</h2>
  <form [formGroup]="mentorForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="name">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Gender</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="gender">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Age</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="age">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
    </div>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">{{ isEditMode ? 'Edit': 'Add' }}</button>
    </form>
</div>